div.modal-background {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  background: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

div.modal-content {
  position: relative;
  width: 100%;
  max-width: 570px;
  background: #fff;
  padding: 2rem;
  border-radius: 0.25rem;
}

header.close-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

button.btn {
  border: 0;
  background: transparent;
}
